<!DOCTYPE html>
<html>
    <head>
        <title><%= htmlWebpackPlugin.options.title %></title>
    </head>
    <body>
        <h1><%= htmlWebpackPlugin.options.title %></h1>
        <h1>hahahahahahaahahaha</h1>
        <div>
            <div id="abc"></div>
        </div>
        <div>
            <h1>22222222222222222</h1>
            <div id="abcd"></div>
            <div class="group-filter"></div>
            <div class="page-header"></div>
            <div class="product-name"></div>
            <div id="banner_listing"></div>
        </div>
        <div id="app"></div>
    </body>
</html>
